{% include "header.html"%}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/face.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p> Αφού η κάθε super έχει blog, αποφάσισα να δημιουργήσω και εγώ ένα. Κάτι σαν την κατσίκα του γείτονα</p>
                        <p> Δεν βλέπω NETFLIX, δεν βλέπω survivor, δεν βλέπω ελληνικά σηριαλ και δεν τα πάω καλά με τα social</p>
                        <p> Επίσης δεν μου αρέσoυν τα smart phone, αλλά αποφάσισα να δημιουργήσω το blog σχεδόν από το μηδέν χρησιμοποιώντας python</p>
                        <p> Σκοπός της ζωής μου είναι η ευτυχία και ευημερία της οικογένειάς μου</p>
                        <p> Μου έχει γίνει εμμονή να πραγματοποιήσω μια έρευνα ή ακόμα καλύτερα ένα διδακτορικό σχετικά με: «Νευροαπεικονιστική και ψυχιατρική αξιολόγηση της επίδρασης σύμπλοκων  φωσφατιδιλσερίνης- ακόρεστων  λιπαρών  οξέων στις εγκεφαλικές λειτουργίες».</p>
                        <p>Είμαι τόσο αποφασισμένη που το έχω κάνει τάμα, κάτι σαν συλλογικό τάμα.  (Τα προσωπικά ρουσφέτια είναι μη ανακοινώσιμα).</p>
                        <p>Είμαι η Ρέτα Μπασακίδου, Τεχνολόγος τροφίμων ΜΒΑ και επλίζω κάποτε με Msc ή και PHD.</p>

                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
