{% include "header.html"%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static',filename='img/moon.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Fly me to the moon</h1>
                            <h2 class="subheading">Business στη Σελήνη</h2>
                            <span class="meta">
                               Posted by
                                <a href="{{url_for('get_moon')}}">Reta Bassakidou+</a>
                                on February 24, 2023
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Πλέον δεν αποτελεί επιστημονική φαντασία ότι ο άνθρωπος κάποια στιγμή θα αποικήσει στην Άρη. Μέχρι να φτάσουνε σε αυτό το σημείο θα προηγηθεί η εγκατάσταση στη Σελήνη. Το εγχείρημα  έχει προγραμματιστεί για το 2025.  Είναι σημαντική η ελληνική παρουσία στ Σελήνη.</p>
<p> Προς το παρόν η φωτεινή πλευρά της Σελήνης έχει μοιραστεί σε οικόπεδα.  Το μεγαλύτερο οικόπεδο ανήκει στις ΗΠΑ. Λόγω έλλειψης βαρύτητας οι Αμερικάνοι πέταξαν πρώτοι μια πετρούλα μακριά απ’όλους, και ι όρισαν το οικόπεδό τους. ο δεύτερο μεγαλύτερο οικόπεδο ανήκει στην Ρωσία.  Η κίνα έχει το τρίτο σε μέγεθος οικόπεδο, αλλά θα επεκταθεί στην σκοτεινή πλευρά της Σελήνης. Την Ευρώπη εκπροσωπεί η ESRIC, η οποία ελέγχεται από το Λουξεμβούργο και τη Λιθουανία.</p>
<p>Ο κανόνας συνύπαρξης είναι ο εξής ένας. Δεν μπαίνουμε ο ένας στα χωράφια του άλλου. Στι2 19/4/2023 θα γίνει άλλη μια διαδικτυακή  παρουσίαση για τον τρόπο εκμετάλλευσης  των κοιτασμάτων της Σελήνης, </p>
                        <h2 class="section-heading">Ήλιος ο ζωοδότης</h2>
                        <p>Ο σχεδιασμός είναι δημιουργία ορυχείων όπου την εξόρυξη θα την αναλάβουν μικρά ρομπότ.  Είναι πολύ σημαντική η εξασφάλιση ενέργειας, η οποία προέρχεται αποκλειστικά από τον Ήλιο. Αυτός είναι ο λόγος που η σκοτεινή πλευρά της Σελήνης είναι δύσκολη για  εκμετάλλευση.</p>
<p>Η πιο ευρηματική ιδέα που έχει παρουσιαστεί είναι η λειτουργία των ρομπότ με φωτβολταϊκά πάνελ και enegy beaming. Αυτό επιτυγχάνεται με δορυφόρους  οι οποίοι αντανακλούν την ηλιακή ακτινοβολία πάνω στα πάνελ . Το εντυπωσιακότερο ήταν ο οικονομικός  τρόπος παραγωγής. Η πρόταση ήταν η παραγωγή σε κινητά κοντέινερ στην έρημο όπου η πρώτη ύλη είναι άφθονη.</p>
f any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
                        <h2 class="section-heading">Μικρές πολιτείες</h2>
                        <p>Η αποικίες που θα δημιουργηθούν θα έχουν τις ίδιες συνθήκες με τη γη.   Για να γίνει απόσβεση του εγχειρήματος θα πρέπει τα μεταλλεύματα να δημιουργήσουν  κέρδος.  </p>
<p>Συνεχίζεται......</p>


                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Reta Bassakidou 2023</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
