{% include "header.html"%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static',filename='img/food.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Μπορούν τα συμπτώματα ΔΕΠΥ να βελτιωθούν μέσα από την διατροφή;</h1>
                            <h2 class="subheading">Ο ρόλος της μεσογειακής διατροφής</h2>
                            <span class="meta">
                               Posted by
                                <a href="{{url_for('get_post')}}">Start Bootstrap</a>
                                on August 24, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p> To 2017 μελέτη σχετικά  με την επίδραση της μεσογειακής διατροφής  στα συμπτώματα <a href = "https://pubmed.ncbi.nlm.nih.gov/28138007/"> ΔΕΠΥ </a> πραγματοποιήθηκε σε 120 παιδιά και έφηβους.</p>
                        <p> Η υψηλή κατανάλωση ζάχαρης, γλυκών, αναψυκτικών και η χαμηλή κατανάλωση λιπαρών ψαριών επίσης συνδέονται με υψηλότερη πιθανότητα διάγνωσης ΔΕΠΥ.</p>
                        <p> Αυτές οι διαπιστώσεις δεν εξηγούν τα αίτια, ωστόσο υπάρχουν ενδείξεις ότι η μεσογειακή διατροφή  μπορεί να παίζει κάποιο ρόλο στην εμφάνιση ΔΕΠΥ. Τα δεδομένα της μελέτης δείχνουν ότι ο τρόπος διατροφής και όχι συγκεκριμένα τρόφιμα επιδρούν στην εμφάνιση ΔΕΠΥ.</p>

                        <h2 class="section-heading">Τα μυστικά της μεσογειακής διατροφής</h2>
                        <p> Ωστόσο ορισμένα τρόφιμα της μεσογειακής διατροφής βοηθούν σημαντικά στην αντιμετώπιση συμπτωμάτων ΔΕΠΥ. Αυτές οι ουσίες είναι οι βιταμίνες B12 και D, ψευδάργυρος, μαγνήσιο, σίδηρος και Ω3 λιπαρά οξέα.</p>
                        <p> Έχουν πραγματοποιηθεί αρκετές μελέτες για την δράση των Ω-3 στον εγκέφαλο. Δεν έχει αποδειχθεί ότι η κατανάλωση ψαριών ή ιχθυέλαιων ενισχύει τον εγκέφαλο. Ο λόγος είναι γιατί τα ωφέλιμα λιπαρά συστατικά δεν φτάνον στον εγκέφαλο. Χρειάζονται ένα όχημα να τα οδηγήσει στον εγκέφαλο και αυτό το όχημα είναι τα φωσφολιπίδια </p>
                        <h2 class="section-heading">Όσπρια και φυτικές ίνες</h2>
                        <p>Όσπρια όπως τα ρεβύθια είναι πλούσια σε φωσφατιλδισερίνη, η οποία ενισχύει τη μνήμη, την ψυχολογία και την υπερικινητικότητα</p>
                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>

                            <a href="#!"></a>

                            <a href="#!"></a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
